<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <section name="fluentMail" type="FluentMail.Configuration.FluentMailSection, FluentMail" />
        <section name="fluentMail-postalservice-not-provided" type="FluentMail.Configuration.FluentMailSection, FluentMail" />
        <section name="fluentMail-postalservice-empty" type="FluentMail.Configuration.FluentMailSection, FluentMail" />
        <section name="fluentMail-emailaddressvalidator-not-provided" type="FluentMail.Configuration.FluentMailSection, FluentMail" />
        <section name="fluentMail-emailaddressvalidator-empty" type="FluentMail.Configuration.FluentMailSection, FluentMail" />
    </configSections>

    <fluentMail>
        <postalService type="FluentMail.Tests.PostalServiceFake, FluentMail.Tests" />
        <emailAddressValidator type="FluentMail.Validation.EmailAddressValidator, FluentMail" />
    </fluentMail>

    <fluentMail-postalservice-not-provided>
        <postalService />
        <emailAddressValidator type="FluentMail.Validation.EmailAddressValidator, FluentMail" />
    </fluentMail-postalservice-not-provided>

    <fluentMail-postalservice-empty>
        <postalService type="" />
        <emailAddressValidator type="FluentMail.Validation.EmailAddressValidator, FluentMail" />
    </fluentMail-postalservice-empty>

    <fluentMail-emailaddressvalidator-not-provided>
        <postalService type="FluentMail.Tests.PostalServiceFake, FluentMail.Tests" />
        <emailAddressValidator />
    </fluentMail-emailaddressvalidator-not-provided>

    <fluentMail-emailaddressvalidator-empty>
        <postalService type="FluentMail.Tests.PostalServiceFake, FluentMail.Tests" />
        <emailAddressValidator type="" />
    </fluentMail-emailaddressvalidator-empty>
</configuration>